* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  height: 100vh;
}

html ::-webkit-scrollbar {
  width: 5px;
}
html ::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #6e6ea9;
}
html ::-webkit-scrollbar-track {
  background: #ededed;
}